Source:
https://www.kaggle.com/c/titanic/data

Steps Followed:    
1. Load the data
2. Learn about the data
3. Preprocessing and Data Cleaning
4. Model Selection
5. Test Predictions

###### Importing Libraries

In [64]:
import numpy as np
import pandas as pd

###### Loading the Data...

In [65]:
datapath="C:\\Users\\Rebecca\\Documents\\TL Study Docs\\ML\\Dataset\\Algorithms\\Titanic Problem\\"

In [66]:
dataset=pd.read_csv(datapath+"train.csv")

###### Analyze the data...

In [67]:
dataset.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [68]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [69]:
dataset.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [70]:
dataset.isna().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

###### Preprocess and Clean the Data...

In [71]:
dataset.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [72]:
dataset['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [73]:
# Dropping the columns- Embarked, Cabin, Ticket, Name
dataset.drop(columns=['Embarked','Cabin','Ticket','Name'],inplace=True)

In [74]:
dataset.head(1)

   PassengerId  Survived  Pclass   Sex   Age  SibSp  Parch  Fare
0            1         0       3  male  22.0      1      0  7.25

In [75]:
dataset.isna().any()

PassengerId    False
Survived       False
Pclass         False
Sex            False
Age             True
SibSp          False
Parch          False
Fare           False
dtype: bool

In [76]:
#Filling na values of Age column with mean of the Age
dataset['Age']=dataset['Age'].fillna(np.mean(dataset['Age']))

In [77]:
dataset.isna().any()

PassengerId    False
Survived       False
Pclass         False
Sex            False
Age            False
SibSp          False
Parch          False
Fare           False
dtype: bool

In [78]:
dataset['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [79]:
# To change the categorical Sex values with Binary values using LabelEncoder
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
sex_cat=le.fit_transform(dataset['Sex'])

In [80]:
dataset.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare'],
      dtype='object')

In [81]:
dataset['Sex']=sex_cat

In [82]:
dataset.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare'],
      dtype='object')

In [83]:
dataset['Sex'].value_counts()

1    577
0    314
Name: Sex, dtype: int64

In [84]:
#Finding correlation after all preprocessing
dataset.corr()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.042939,0.033207,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.543351,-0.069809,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,0.131900,-0.331339,0.083081,0.018443,-0.549500
Sex,0.042939,-0.543351,0.131900,1.000000,0.084153,-0.114631,-0.245489,-0.182333
Age,0.033207,-0.069809,-0.331339,0.084153,1.000000,-0.232625,-0.179191,0.091566
SibSp,-0.057527,-0.035322,0.083081,-0.114631,-0.232625,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.245489,-0.179191,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,-0.182333,0.091566,0.159651,0.216225,1.000000

In [85]:
# Cleaning testdata set
testData=pd.read_csv(datapath+"test.csv")
testData.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [86]:
testData.isna().any()

PassengerId    False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare            True
Cabin           True
Embarked       False
dtype: bool

In [87]:
testData=testData.drop(columns=['Name','Ticket','Cabin','Embarked'])

In [88]:
testData.columns

Index(['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [89]:
#Filling na values of Age column with mean of the Age
testData['Age']=testData['Age'].fillna(np.mean(testData['Age']))

In [90]:
#Filling na values of Fare column with mean of the Fare
testData['Fare']=testData['Fare'].fillna(np.mean(testData['Fare']))

In [91]:
testData.isna().any()

PassengerId    False
Pclass         False
Sex            False
Age            False
SibSp          False
Parch          False
Fare           False
dtype: bool

In [121]:
testData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null object
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           418 non-null float64
dtypes: float64(2), int64(4), object(1)
memory usage: 22.9+ KB

In [122]:
# To change the categorical Sex values with Binary values using LabelEncoder
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
sex_cat=le.fit_transform(testData['Sex'])

In [123]:
testData['Sex']=sex_cat

###### Model Selection and Predictions...

In [92]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
import warnings
warnings.filterwarnings("ignore")

In [93]:
X=dataset.drop(columns='Survived')

In [94]:
Y=dataset['Survived']

In [95]:
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,Y,test_size=0.2,random_state=100)

In [96]:
#Using Logistic Regression Model
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(Xtrain,Ytrain)
predicted=model.predict(Xtest)
print('Accuracy using Logistic Regression',metrics.accuracy_score(Ytest,predicted))

Accuracy using Logistic Regression 0.7932960893854749

In [97]:
#Using SVM
from sklearn import svm
model=svm.SVC()
model.fit(Xtrain,Ytrain)
predicted=model.predict(Xtest)
print('Accuracy using SVM',metrics.accuracy_score(Ytest,predicted))

Accuracy using SVM 0.5810055865921788

In [98]:
#Using KNN
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier(n_neighbors=5)
model.fit(Xtrain,Ytrain)
predicted=model.predict(Xtest)
print('Accuracy using KNN',metrics.accuracy_score(Ytest,predicted))

Accuracy using KNN 0.6033519553072626

In [99]:
#Using Naive Bayes
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(Xtrain,Ytrain)
predicted=model.predict(Xtest)
print('Accuracy using Naive Bayes',metrics.accuracy_score(Ytest,predicted))

Accuracy using Naive Bayes 0.8044692737430168

In [100]:
#Using Decison Trees Classifier
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(Xtrain,Ytrain)
predicted=model.predict(Xtest)
print('Accuracy using Decision Trees Classifier',metrics.accuracy_score(Ytest,predicted))

Accuracy using Decision Trees Classifier 0.7430167597765364

In [102]:
#Using Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model.fit(Xtrain,Ytrain)
predicted=model.predict(Xtest)
print('Accuracy using Random Forest Classifier with default 10 estimators',metrics.accuracy_score(Ytest,predicted))


model=RandomForestClassifier(n_estimators=100)
model.fit(Xtrain,Ytrain)
predicted=model.predict(Xtest)
print('Accuracy using Random Forest Classifier with default 100 estimators',metrics.accuracy_score(Ytest,predicted))

Accuracy using Random Forest Classifier with default 10 estimators 0.8324022346368715
Accuracy using Random Forest Classifier with default 100 estimators 0.8379888268156425

###### Final Predictions for test.csv

In [124]:
#Using Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model.fit(Xtrain,Ytrain)
predicted=model.predict(testData)

model=RandomForestClassifier(n_estimators=100)
model.fit(Xtrain,Ytrain)
predicted=model.predict(testData)

In [125]:
submission = pd.read_csv('C:\\Users\\Rebecca\\Documents\\TL Study Docs\\ML\\Dataset\\Algorithms\\Titanic Problem\\gender_submission.csv')
submission.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [126]:
submission.shape

(418, 2)

In [127]:
predicted.size

418

In [128]:
submission = pd.DataFrame({
        "PassengerId": testData["PassengerId"],
        "Survived": predicted
    })

In [129]:
submission.shape

(418, 2)

In [130]:
submission.to_csv('C:\\Users\\Rebecca\\Documents\\TL Study Docs\\ML\\Dataset\\Algorithms\\Titanic Problem\\submissions.csv', index=False)