In [6]:
import pandas as pd
import numpy as np

In [7]:
dataset=pd.read_csv("C:\\Users\\Rebecca\\Documents\\TL Study Docs\\Python Scripts\\Advertising.csv",index_col=0)
dataset

        TV  radio  newspaper  sales
1    230.1   37.8       69.2   22.1
2     44.5   39.3       45.1   10.4
3     17.2   45.9       69.3    9.3
4    151.5   41.3       58.5   18.5
5    180.8   10.8       58.4   12.9
6      8.7   48.9       75.0    7.2
7     57.5   32.8       23.5   11.8
8    120.2   19.6       11.6   13.2
9      8.6    2.1        1.0    4.8
10   199.8    2.6       21.2   10.6
11    66.1    5.8       24.2    8.6
12   214.7   24.0        4.0   17.4
13    23.8   35.1       65.9    9.2
14    97.5    7.6        7.2    9.7
15   204.1   32.9       46.0   19.0
16   195.4   47.7       52.9   22.4
17    67.8   36.6      114.0   12.5
18   281.4   39.6       55.8   24.4
19    69.2   20.5       18.3   11.3
20   147.3   23.9       19.1   14.6
21   218.4   27.7       53.4   18.0
22   237.4    5.1       23.5   12.5
23    13.2   15.9       49.6    5.6
24   228.3   16.9       26.2   15.5
25    62.3   12.6       18.3    9.7
26   262.9    3.5       19.5   12.0
27   142.9   29.3       12.6   15.0
28   240.1   16.7       22.9   15.9
29   248.8   27.1       22.9   18.9
30    70.6   16.0       40.8   10.5
..     ...    ...        ...    ...
171   50.0   11.6       18.4    8.4
172  164.5   20.9       47.4   14.5
173   19.6   20.1       17.0    7.6
174  168.4    7.1       12.8   11.7
175  222.4    3.4       13.1   11.5
176  276.9   48.9       41.8   27.0
177  248.4   30.2       20.3   20.2
178  170.2    7.8       35.2   11.7
179  276.7    2.3       23.7   11.8
180  165.6   10.0       17.6   12.6
181  156.6    2.6        8.3   10.5
182  218.5    5.4       27.4   12.2
183   56.2    5.7       29.7    8.7
184  287.6   43.0       71.8   26.2
185  253.8   21.3       30.0   17.6
186  205.0   45.1       19.6   22.6
187  139.5    2.1       26.6   10.3
188  191.1   28.7       18.2   17.3
189  286.0   13.9        3.7   15.9
190   18.7   12.1       23.4    6.7
191   39.5   41.1        5.8   10.8
192   75.5   10.8        6.0    9.9
193   17.2    4.1       31.6    5.9
194  166.8   42.0        3.6   19.6
195  149.7   35.6        6.0   17.3
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [45]:
dataset.columns

Index(['TV', 'radio', 'newspaper', 'sales'], dtype='object')

In [47]:
list(dataset.columns)

['TV', 'radio', 'newspaper', 'sales']

In [8]:
dataset.describe()

               TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [10]:
dataset.shape

(200, 4)

In [11]:
dataset.dtypes

TV           float64
radio        float64
newspaper    float64
sales        float64
dtype: object

In [15]:
dataset.select_dtypes(include='float')

        TV  radio  newspaper  sales
1    230.1   37.8       69.2   22.1
2     44.5   39.3       45.1   10.4
3     17.2   45.9       69.3    9.3
4    151.5   41.3       58.5   18.5
5    180.8   10.8       58.4   12.9
6      8.7   48.9       75.0    7.2
7     57.5   32.8       23.5   11.8
8    120.2   19.6       11.6   13.2
9      8.6    2.1        1.0    4.8
10   199.8    2.6       21.2   10.6
11    66.1    5.8       24.2    8.6
12   214.7   24.0        4.0   17.4
13    23.8   35.1       65.9    9.2
14    97.5    7.6        7.2    9.7
15   204.1   32.9       46.0   19.0
16   195.4   47.7       52.9   22.4
17    67.8   36.6      114.0   12.5
18   281.4   39.6       55.8   24.4
19    69.2   20.5       18.3   11.3
20   147.3   23.9       19.1   14.6
21   218.4   27.7       53.4   18.0
22   237.4    5.1       23.5   12.5
23    13.2   15.9       49.6    5.6
24   228.3   16.9       26.2   15.5
25    62.3   12.6       18.3    9.7
26   262.9    3.5       19.5   12.0
27   142.9   29.3       12.6   15.0
28   240.1   16.7       22.9   15.9
29   248.8   27.1       22.9   18.9
30    70.6   16.0       40.8   10.5
..     ...    ...        ...    ...
171   50.0   11.6       18.4    8.4
172  164.5   20.9       47.4   14.5
173   19.6   20.1       17.0    7.6
174  168.4    7.1       12.8   11.7
175  222.4    3.4       13.1   11.5
176  276.9   48.9       41.8   27.0
177  248.4   30.2       20.3   20.2
178  170.2    7.8       35.2   11.7
179  276.7    2.3       23.7   11.8
180  165.6   10.0       17.6   12.6
181  156.6    2.6        8.3   10.5
182  218.5    5.4       27.4   12.2
183   56.2    5.7       29.7    8.7
184  287.6   43.0       71.8   26.2
185  253.8   21.3       30.0   17.6
186  205.0   45.1       19.6   22.6
187  139.5    2.1       26.6   10.3
188  191.1   28.7       18.2   17.3
189  286.0   13.9        3.7   15.9
190   18.7   12.1       23.4    6.7
191   39.5   41.1        5.8   10.8
192   75.5   10.8        6.0    9.9
193   17.2    4.1       31.6    5.9
194  166.8   42.0        3.6   19.6
195  149.7   35.6        6.0   17.3
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [16]:
dataset.head(1)

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1

In [17]:
dataset.tail(1)

        TV  radio  newspaper  sales
200  232.1    8.6        8.7   13.4

In [22]:
dataset[['TV','radio']].tail(2)

        TV  radio
199  283.6   42.0
200  232.1    8.6

In [24]:
dataset.isnull().any()

TV           False
radio        False
newspaper    False
sales        False
dtype: bool

In [28]:
dataset.isna().any()

TV           False
radio        False
newspaper    False
sales        False
dtype: bool

In [25]:
dataset.isnull()

        TV  radio  newspaper  sales
1    False  False      False  False
2    False  False      False  False
3    False  False      False  False
4    False  False      False  False
5    False  False      False  False
6    False  False      False  False
7    False  False      False  False
8    False  False      False  False
9    False  False      False  False
10   False  False      False  False
11   False  False      False  False
12   False  False      False  False
13   False  False      False  False
14   False  False      False  False
15   False  False      False  False
16   False  False      False  False
17   False  False      False  False
18   False  False      False  False
19   False  False      False  False
20   False  False      False  False
21   False  False      False  False
22   False  False      False  False
23   False  False      False  False
24   False  False      False  False
25   False  False      False  False
26   False  False      False  False
27   False  False      False  False
28   False  False      False  False
29   False  False      False  False
30   False  False      False  False
..     ...    ...        ...    ...
171  False  False      False  False
172  False  False      False  False
173  False  False      False  False
174  False  False      False  False
175  False  False      False  False
176  False  False      False  False
177  False  False      False  False
178  False  False      False  False
179  False  False      False  False
180  False  False      False  False
181  False  False      False  False
182  False  False      False  False
183  False  False      False  False
184  False  False      False  False
185  False  False      False  False
186  False  False      False  False
187  False  False      False  False
188  False  False      False  False
189  False  False      False  False
190  False  False      False  False
191  False  False      False  False
192  False  False      False  False
193  False  False      False  False
194  False  False      False  False
195  False  False      False  False
196  False  False      False  False
197  False  False      False  False
198  False  False      False  False
199  False  False      False  False
200  False  False      False  False

[200 rows x 4 columns]

In [38]:
dataset.isnull().sum().sort_values(ascending=True)

TV           0
radio        0
newspaper    0
sales        0
dtype: int64

In [43]:
dataset.isnull().any()

TV           False
radio        False
newspaper    False
sales        False
dtype: bool

In [23]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 1 to 200
Data columns (total 4 columns):
TV           200 non-null float64
radio        200 non-null float64
newspaper    200 non-null float64
sales        200 non-null float64
dtypes: float64(4)
memory usage: 7.8 KB

In [29]:
dataset['TV'].unique()

array([230.1,  44.5,  17.2, 151.5, 180.8,   8.7,  57.5, 120.2,   8.6,
       199.8,  66.1, 214.7,  23.8,  97.5, 204.1, 195.4,  67.8, 281.4,
        69.2, 147.3, 218.4, 237.4,  13.2, 228.3,  62.3, 262.9, 142.9,
       240.1, 248.8,  70.6, 292.9, 112.9,  97.2, 265.6,  95.7, 290.7,
       266.9,  74.7,  43.1, 228. , 202.5, 177. , 293.6, 206.9,  25.1,
       175.1,  89.7, 239.9, 227.2,  66.9, 100.4, 216.4, 182.6, 262.7,
       198.9,   7.3, 136.2, 210.8, 210.7,  53.5, 261.3, 239.3, 102.7,
       131.1,  69. ,  31.5, 139.3, 216.8, 199.1, 109.8,  26.8, 129.4,
       213.4,  16.9,  27.5, 120.5,   5.4, 116. ,  76.4, 239.8,  75.3,
        68.4, 213.5, 193.2,  76.3, 110.7,  88.3, 134.3,  28.6, 217.7,
       250.9, 107.4, 163.3, 197.6, 184.9, 289.7, 135.2, 222.4, 296.4,
       280.2, 187.9, 238.2, 137.9,  25. ,  90.4,  13.1, 255.4, 225.8,
       241.7, 175.7, 209.6,  78.2,  75.1, 139.2, 125.7,  19.4, 141.3,
        18.8, 224. , 123.1, 229.5,  87.2,   7.8,  80.2, 220.3,  59.6,
         0.7, 265.2,   8.4, 219.8,  36.9,  48.3,  25.6, 273.7,  43. ,
        73.4, 193.7, 220.5, 104.6,  96.2, 140.3, 243.2,  38. ,  44.7,
       280.7, 121. , 171.3, 187.8,   4.1,  93.9, 149.8,  11.7, 131.7,
       172.5,  85.7, 188.4, 163.5, 117.2, 234.5,  17.9, 206.8, 215.4,
       284.3,  50. , 164.5,  19.6, 168.4, 276.9, 248.4, 170.2, 276.7,
       165.6, 156.6, 218.5,  56.2, 287.6, 253.8, 205. , 139.5, 191.1,
       286. ,  18.7,  39.5,  75.5, 166.8, 149.7,  38.2,  94.2, 283.6,
       232.1])

In [30]:
dataset['TV'].nunique()

190

In [31]:
dataset['TV'].value_counts()

197.6    2
237.4    2
177.0    2
76.4     2
222.4    2
17.2     2
240.1    2
184.9    2
109.8    2
199.8    2
149.8    1
25.1     1
191.1    1
289.7    1
168.4    1
156.6    1
78.2     1
219.8    1
5.4      1
165.6    1
206.9    1
262.7    1
261.3    1
36.9     1
215.4    1
75.5     1
39.5     1
255.4    1
140.3    1
290.7    1
        ..
276.7    1
56.2     1
16.9     1
239.8    1
142.9    1
210.7    1
216.4    1
68.4     1
175.7    1
287.6    1
129.4    1
193.7    1
120.2    1
230.1    1
25.6     1
134.3    1
228.3    1
87.2     1
48.3     1
0.7      1
75.1     1
123.1    1
187.8    1
225.8    1
100.4    1
18.8     1
19.4     1
26.8     1
139.2    1
44.5     1
Name: TV, Length: 190, dtype: int64

In [34]:
dataset['TV'].value_counts().sort_values(ascending=False).head(2)

197.6    2
17.2     2
Name: TV, dtype: int64